.card {
  position: relative;
  align-items: center;
  text-align: center;
  width: 370px;
  height: 500px;
  background-color: antiquewhite;
  border: none;
  cursor: pointer;
}
.card:hover {
  text-decoration: underline;
}

.img {
  height: 70%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}

.btnFa {
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 75px 0;
  background-color: transparent;
  top: 0;
  left: 283px;
  border-color: transparent #f0a94d transparent transparent;
  cursor: pointer;
}

.btnFa:hover {
  border-color: transparent #f0b363 transparent transparent;
}

.FaBtn {
  position: absolute;
  color: white;
  font-size: 40px;
  top: -10px;
  left: 43px;
  border-color: transparent #f0a94d transparent transparent;
}

.FaBtn:hover {
  border-color: transparent #f0b363 transparent transparent;
}
